@media(max-width: 2560px){
@media(max-width: 1700px){
 br {
  display: none;
 }
.header{
  padding: 30px 200px 31px 200px;
 }
.preview__content{
  padding: 125px 60px 180px 200px;
  }
.about{
  padding: 130px 200px 51px 200px;
 }
.about__top{
  margin: 0 0 165px 0;
 }
.video{
  padding: 180px 166px 146px 166px;
 }
.product{
  padding: 120px 200px 240px 360px;
 }
.footer{
  padding: 95px 200px 145px 200px; 
  }
.footer__navs{
  max-width: 50%;
  }            
}
@media(max-width: 1520px){
.video{
  grid-template-columns: 100%;
  }
.video__content {
    margin: 0 0px 100px 0;
  }      
}
@media(max-width: 1440px){
.header{
  padding: 30px 100px 31px 100px;
 }
.preview__content{
  padding: 75px 60px 230px 100px;
  }
.header__nav-item{
  margin: 0 25px 0 0
  }
.about{
  padding: 100px 100px 51px 100px;
  }
.video{
  padding: 150px 83px 146px 83px;
  }
.product{
  padding: 120px 100px 240px 100px;
  grid-template-columns: 100%;
 }
.product__image{
    margin: 0 286px 130px 286px;
  }
.product__content{
  margin: 0 auto;
 } 
.footer{
  padding: 95px 100px 145px 100px; 
  }    
}
@media(max-width: 1150px){
.product{
  text-align: center;
}
.product__subtitle{
  margin: 0 0 30px 0;
  padding: 0;
  max-width: 585px;
}
.product__image{
  background-color: #fff;
  padding: 0 186px 0 186px;
  margin: 0 0 40px 0;
  } 
.product__photo{
  display: none;
  }
.product__info{
  position: inherit;
  bottom: 0;
  left: 0;
  padding: 42px 45px 35px 45px;
  }
.info-product__img{
  width: 85px;
  height: 85px;
 }  
.info-product__text {
    padding: 0 0 17px 0;
  }
.info-product__text p {
    font: 600 25px 'Lato';
    line-height: 40px;
  }
.info-product__name {
    margin: 0 0 20px 0;
} 
.info-product__name p {
  font: 400 22px 'Lato';
  line-height: 30px;
  }
.info-product__title {
    margin: 0 0 35px 0;
}  
.info-product__title p {
    font: 700 23px 'Georgia';
  }
.info-product__list{
  padding-left: 25%;
}  
.info-product__list li {
    font: 400 21px 'Lato';
    padding: 0 0 0 0;
    margin: 0 0 15px 0;
  }       
}
@media(max-width: 1024px){
.header{
  padding: 30px 50px 31px 50px;
 }
.preview__content{
  padding: 67px 60px 115px 50px;
  }
.header__nav-item{
  margin: 0 15px 0 0
  } 
.auth__sign-btn{
  margin: 0 15px 0 0;
  }
.auth__trial-btn{
  padding: 10px 25px;
  }
.preview__link{
  padding: 15px;
  }
.about{
  padding: 50px 50px 51px 50px;
  }
.video{
  padding: 130px 42px 146px 42px;
  }
.video__btn{
  padding: 15px 30px;
  } 
.product{
  padding: 120px 50px 240px 50px;
 }
.footer{
  padding: 95px 50px 145px 50px; 
  }  
}
@media(max-width: 1000px){
.header__navs{
  background-color: rgba(1, 153, 109, 0.9);
  display: flex;
  flex-direction: column;
  padding: 0;
  position: absolute;
  top:0;
  right: 0;
  left:-100vw;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  }
.header__navs-active{
  left: 0;
  }
.header__navs a{
  width: 100%;
  color: #fff;
  line-height: 4;
  font-weight: 100;
  letter-spacing: 5px;
  transition: all 0.2s;
  }
.header__navs a:hover{
  background-color: #fff;
  width: 100vw;
  z-index: 9;
  }
.header__nav-item{
  margin: 0; 
  }
.menu-link{
  display: block;
  left: 150px;
  } 
:root {
  --green: #01996D;
  --fontLato: normal 18px 'Lato';
  }
.preview__title p{
  font: bold 50px 'Georgia';
  line-height: 60px;
  }
.about__title{
  font: 700 40px 'Georgia';
  line-height: 67px;
  }
.about__text{
  font: 600 20px 'Lato';
  }
.item-about__title{
  font: 700 25px 'Georgia';
  line-height: 40px;
}
.item-about--first > .item-about__title:before{
  font: 400 120px 'Georgia';
  top: -90px;
  }  
.item-about--second > .item-about__title:before{
  font: 400 120px 'Georgia';
  top: 182px;
  left: 32px;
  }
.item-about--last > .item-about__title:before{
  font: 400 120px 'Georgia';
  top: -36px;
  }
.video__title{
  font: 700 40px 'Georgia';
  line-height: 67px;
  }
.video__subtitle p {
  font-size: 20px;
  }
.video__title{
  margin: 0 0 35px 0;
  }
.product__image{
  padding: 0 86px 0 86px;
  }
.info-product__text p {
    font: 600 20px 'Lato';
    line-height: 40px;
  }
.info-product__name {
    margin: 0 0 15px 0;
} 
.info-product__name p {
  font: 400 18px 'Lato';
  line-height: 30px;
  }
.info-product__title {
    margin: 0 0 30px 0;
}  
.info-product__title p {
    font: 700 19px 'Georgia';
  }
.info-product__list li {
    font: 400 18px 'Lato';
    padding: 0 0 0 0;
    margin: 0 0 15px 0;
  } 
.product__content{
  max-width: 585px;
  text-align: center;
 }  
.product__title{
  max-width: inherit;
 }
.product__subtitle{
  max-width: inherit;
 }
.product__text p{
  font: 600 20px 'Lato';
    line-height: 30px;
  }
.product__title{
  font: 700 35px 'Georgia';
  line-height: 45px;
}
.product__btn {
    padding: 15px 30px;                                     
  }
.footer__logo {
    font: 900 30px 'Avenir';
    line-height: 40px;
    color: #fff;  
  }
.footer__link {
    font: 400 20px 'Lato';
    line-height: 30px;
  }
.modal{
  max-width: 580px;
  padding: 40px 50.6px 53px 48px;
}   
.modal__title p {
  font: normal 27px 'Helvetica Neue Cyr Light';
  }
.modal__account p, .modal__reset p {
  font: normal 15px 'Helvetica Neue Cyr Light';   
  }
.modal__account a, .modal__reset a {
  font: normal 15px 'Helvetica Neue Cyr Light';   
  } 
.modal__login input, .modal__password input {
    padding: 10px 18px;
    font: normal 18px 'Helvetica Neue Cyr Light';
  }
.modal__btn{
  font: normal 15px 'Helvetica Neue Cyr Medium';
  padding: 13px 42px;
  }            
}
@media(max-width: 768px){
:root {
  --green: #01996D;
  --fontLato: normal 15px 'Lato';
  }
.header{
  padding: 30px 25px 31px 25px;
  }
.preview__content{
  padding: 37px 25px 100px 25px;
  max-width: 38%;
  }
.preview__title p{
  font: bold 40px 'Georgia';
  line-height: 48px;
  }
.preview__link{
  font: normal 15px 'Lato';
  }
.about__top{
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin: 0 0 130px 0;
 }
.about{
  padding: 50px 25px 51px 25px;
  }
.about__description{
  padding: 0 0 0 0;
  max-width: 80%;
  }  
.about__wrapper{
  margin: 0 0 25px 0;
  max-width: 80%;
}
.about__title{
  font: 700 35px 'Georgia';
  line-height: 63px;
  } 
.about__row{
  flex-wrap: wrap;
  justify-content: center;
  }
.about__column:nth-child(1){
  margin: 0 0 130px 0;
  padding: 0 0 0 0;
 }      
 .about__column:nth-child(2){
  margin: 0 0 130px 0;
  padding: 0 0 0 0;

 }
 .about__column:nth-child(3){
  margin: 0 0 0 0;
  padding: 0 0 0 0;
 } 
.item-about--first > .item-about__title:before{
  top: -85px;
  left: 87px;
  }  
.item-about--second > .item-about__title:before{
  top: -86px;
  left: 32px;
  }
.item-about--last > .item-about__title:before{
  top: -80px;
  left: 118px;
  }
.video{
  padding: 110px 21px 126px 21px;
  text-align: center;
  } 
.video__title{
  font: 700 35px 'Georgia';
  line-height: 63px;
  }
.product{
  padding: 120px 25px 140px 25px;
 }
 .product__image{
  padding: 0 15% 0 15%;
 }
 .info-product__img {
    width: 65px;
    height: 65px;
}
.info-product__text p {
    font: 600 15px 'Lato';
    line-height: 40px;
  }
.info-product__name {
    margin: 0 0 15px 0;
} 
.info-product__name p {
  font: 400 14px 'Lato';
  line-height: 30px;
  }
.info-product__title {
    margin: 0 0 30px 0;
}  
.info-product__title p {
    font: 700 16px 'Georgia';
  }
.info-product__list{
  padding-left: 13%;
}  
.info-product__list li {
    font: 400 16px 'Lato';
    padding: 0 0 0 0;
    margin: 0 0 15px 0;
  }
.product__content{
  max-width: 500px;
  text-align: center;
 }  
.product__title{
  max-width: inherit;
 }
.product__subtitle{
  max-width: inherit;
 }
.product__text p{
  font: 600 15px 'Lato';
    line-height: 25px;
  }
.product__title{
  font: 700 30px 'Georgia';
  line-height: 40px;
}
.product__btn {
    padding: 15px 25px;                                     
  }
.footer{
  padding: 95px 25px 145px 25px; 
  }
.footer__logo {
    font: 900 25px 'Avenir';
    line-height: 35px;
    color: #fff;  
  }
.footer__link {
    font: 400 15px 'Lato';
    line-height: 25px;
  }
.modal{
  max-width: 380px;
  max-height: 255px;
  padding: 20px 30px 33px 28px;
}
.modal__title {
    margin: 0 0 20px 0;
}   
.modal__title p {
  font: normal 23px 'Helvetica Neue Cyr Light';
  }
.modal__form {
    margin: 0 20px 0 0;
  }  

.modal__account p, .modal__reset p {
  font: normal 13px 'Helvetica Neue Cyr Light';   
  }
.modal__account a, .modal__reset a {
  font: normal 13px 'Helvetica Neue Cyr Light';   
  }
.modal__login input, .modal__password input{
  padding: 10px 18px;
  max-width: 150px;
}   
.modal__login input, .modal__password input {
    padding: 10px 18px;
     font: normal 15px 'Helvetica Neue Cyr Light';
  }
.modal__btn{
  font: normal 13px 'Helvetica Neue Cyr Medium';
  padding: 10px 32px;
  }                                                      
}
@media(max-width: 660px){
.preview__content{
  padding: 30px 25px 50px 25px;
  max-width: 60%;
  }
.preview__title {
    margin: 0 0 15px 0;
  }
.preview__title {
    margin: 0 0 15px 0; 
  }
.preview__description{
  margin: 0 0 30px 0;
  }     
}
@media(max-width: 425px){
.header__logo{
  font: 900 22px 'Avenir';
} 
.menu-link{
  left: 95px;
  }
.preview__content{
  max-width: inherit;
  }
.preview__title p{
  font: bold 30px 'Georgia';
  line-height: 39px;
  }
.item-about--last > .item-about__title:before{
  left: 52px;
  }
.product__image {
    padding: 0 5px 0 5px;
  } 
.info-product__list {
    padding-left: 0;
  }
.modal{
  max-width: 280px;
  max-height: 245px;
  padding: 10px 20px 23px 18px;
  }
.modal__login input, .modal__password input{
  max-width: 122px;
  }                  
}

@media(max-width: 375px){
.header__auth{
  display: none;
  }
}

