html, body{
	height: 100%;
}
/*@media screen(min-width: 320){}
@media screen(min-width: 375){}
@media screen(min-width: 425){}
@media (min-width: 576px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}*/


@media (max-width: 1600px) {
 br {
 	display: none;
 }
 .header{
 	padding: 30px 200px 31px 200px;
 }
 .preview__content{
 	padding: 175px 60px 330px 200px;
 }
 .preview__subtitle{
 	max-width: 300px;
 }
 .about{
 	padding: 180px 200px 326px 200px;
 }
 .about__subtitle{
 	max-width: 435px;
 }
.about__row{
	flex-wrap: wrap;
}
.about__column:nth-child(1){
	padding: 0 0 0 0;
    margin: 0 86px 300px 0;
  }	
.about__column:nth-child(2){
	padding: 130px 0 0 0;
	margin: 0 0 0 0;
}	
.about__column:nth-child(3){
	padding: 100px 0 0 0;
	margin: 0 auto;
}
.item-about--second > .item-about__title:before{
	top: 18px;
}
.item-about--last > .item-about__title:before{
	top: -7px;
    left: 22px;
  }
.video{	
	padding: 230px 193px 176px 193px;
	flex-wrap: wrap;
  }
.video__content{
	margin: 0 60px 70px 0;
  }
.product{
	padding: 120px 200px 240px 260px;
 }
.product__image{
	margin: 0 60px 0 0;
  }
.footer {
    padding: 95px 200px 145px 200px;
  }
}
@media (max-width: 1024px) {
.header {
    padding: 30px 50px 31px 50px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
.header__navs{
	margin: 0 0 60px 0;
 } 
 .preview__content{
	padding: 175px 30px 330px 50px;
 }
 .about{
 	padding: 180px 50px 326px 50px;
 }
.video{
	padding: 230px 43px 176px 43px;
 } 
 .product{
 	padding: 120px 50px 240px 110px;
 }
 .footer{
 	padding: 95px 50px 145px 50px;
 }
}
@media(max-width: 768px){
.header{
	justify-content: space-between;
}
.header__navs{
	display: none;
 }
 .about__top{
 	flex-wrap: wrap;
 }
.about__row{
	align-items: center;
	justify-content: center;
 }
 .about__column:nth-child(1){
 	padding: 0 0 0 0;
 	margin: 0 0 400px 0; 
 }
  .about__column:nth-child(2){
 	padding: 0 0 0 0;
 	margin: 0 0 400px 0; 
 }
  .about__column:nth-child(3){
 	padding: 0 0 0 0;
 	margin: 0 0 0px 0; 
 }
.item-about--second > .item-about__title:before {
 	top: -111px;
 	left: 28px;
 }
.item-about--last > .item-about__title:before {
 	top: -103px;
 }
.video__play iframe {
    height: 316px;
    width: 696px;
  } 
.product{
	flex-wrap: wrap;
  } 
.product__image{
	margin: 0 60px 100px 0;
  }  
}
@media(max-width: 500px){
:root {
  --green: #01996D;
  --fontLato: normal 16px 'Lato';
}	
.header{
	padding: 30px 20px 31px 20px;
}
.header__logo{
	margin: 0 0 30px 0;
}
.preview__content{
	padding: 100px 20px 100px 20px;
	max-width: inherit;
}
.preview__title p{
	font: bold 40px 'Lato';
}
.about{
	padding: 100px 20px 250px 20px;
}
.about__top{
	margin: 0 0 120px 0;
}
.about__title {
    font: 700 40px 'Georgia';
    line-height: 62px; 
}
.about__column:nth-child(1){
	margin: 0 0 300px 0;
}
.about__column:nth-child(2){
	margin: 0 0 300px 0;
}
.video {
    padding: 130px 15px 130px 15px;
}
.video__title p {
    font: 700 40px 'Georgia';
    line-height: 65px;
}
.video__title {
    margin: 0 0 31px 0;
}

.video__play iframe {
    height: 158px;
    width: 286px;
}
.product{
	padding: 100px 20px 140px 20px
}
.product__title p {
    font: 700 40px 'Georgia';
    line-height: 65px;
  }
.product__image {
    margin: 0 60px 200px 0;
} 
.product__image img{
	width: 180px;
} 
.product__info{
	padding: 7px 15px 7px 15px;
	bottom: -155px;
    left: -2px;
} 
.footer {
    padding: 95px 20px 100px 20px;
  }  
 .footer__navs{
 	max-width: inherit;
 } 
}



