@import url('fonts.css');
.layout{
	max-width: 1920px;
	margin: 0 auto;
}
:root {
  --green: #01996D;
  --fontLato: normal 20px 'Lato';
}
.header{
	padding: 30px 275px 31px 275px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #D6D6D6;
}
.header__logo{
	color: var(--green);
	font: 900 27px 'Avenir';
}
.header__nav-item{
	margin: 0 72px 0 0;
	transition: 0.2s;
}
.header__nav-item:last-child{
	margin: 0 0 0 0;
}
.header__nav-item:hover{
	color: #737070;
}
.header__nav-item, .auth__sign-btn, .auth__trial-btn{
	text-decoration: none;
	color: #292929;
	line-height: 24px;
	font: var(--fontLato);
}
.auth__sign-btn, .auth__trial-btn{
	font-weight: 400;
	margin: 0 35px 0 0;
}
.auth__trial-btn{
	padding: 13px 50px;
	background-color: var(--green);
	border: 1px solid var(--green);
	border-radius: 4px;
	box-sizing: border-box;
	color: #fff;
	font: var(--fontLato);
	text-align: center;
	transition: 0.2s;
	margin: 0 0 0 0;
}
.auth__trial-btn:hover{
	background-color: #01825d;
	color: #fff;
	transition: 0.2s;
}
.auth__sign-btn:hover{
	color: #737070;
}

.preview{
	background: url('../img//main/bg.png') no-repeat center;
	background-size: cover;
}
.preview__content{
	max-width: 41%;
	padding: 175px 60px 330px 275px;
}
.preview__title{
	margin: 0 0 30px 0;
	max-width: 440px;
}
.preview__title p{
	font: bold 65px 'Georgia';
	color: var(--green);
	line-height: 73px;
}
.preview__subtitle{
	margin: 0 0 60px 0;
	max-width: 420px;
}
.preview__subtitle p{
	font: var(--fontLato);
	line-height: 31px;
}
.preview__link{
	padding: 20px;
	background-color: var(--green);
	border: 1px solid var(--green);
	border-radius: 4px;
	box-sizing: border-box;
	color: #fff;
	font: normal 20px 'Lato';
	text-align: center;
	transition: 0.2s;
}
.preview__link:hover{
	background-color: #01825d;
}
.about{
	padding: 180px 275px 326px 275px;
}
.about__top{
	display: flex;
	justify-content: space-between;
	/*padding: 0 0 185px 0;*/
	margin: 0 0 185px 0;
}
.about__text{
	font: 600 24px 'Lato';
}
.about__title{
	font: 700 50px 'Georgia';
	line-height: 79px;
	color: var(--green);
}
.about__subtitle{
	max-width: 635px;
	padding: 43px 0 0 0;
}
.about__subtitle p{
	font: var(--fontLato);
	line-height: 30px;
}
.about__row{
	display: flex;
	justify-content: space-between;
}
.about__column:nth-child(1){
	padding: 0 0 0 0;
	margin: 0 86px 0 0;
}
.about__column:nth-child(2){
	padding: 265px 0 0 0;
	margin: 0 86px 0 0;
}
.about__column:nth-child(3){
	padding: 39px 0 0 0;
}
.about__column{
	position: relative;
}
.item-about--first > .item-about__title:before{
	content:'01';
	display: block;
	font: 400 150px 'Georgia';
	color: rgba(1,153,109, 0.2);
	position: absolute;
	top: -110px;
	left: 23px;
}
.item-about--second > .item-about__title:before{
	content:'02';
	display: block;
	font: 400 150px 'Georgia';
	color: rgba(1,153,109, 0.2);
	position: absolute;
	top: 152px;
	left: -42px;
}
.item-about--last > .item-about__title:before{
	content:'03';
	display: block;
	font: 400 150px 'Georgia';
	color: rgba(1,153,109, 0.2);
	position: absolute;
	top: -70px;
	left: 30px;
}
.item-about__title{
	margin: 0 0 55px 0;
	font: 700 30px 'Georgia';
	line-height: 45px;
	text-align: center;
}
.item-about__subtitle{
	margin: 0 0 60px 0;
	max-width: 382px;
}
.item-about__subtitle p{
	font: var(--fontLato);
	line-height: 30px;
}
.item-about__image{
	position: relative;
	padding-top: 56%;
}
.item-about__image img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	border-radius: 16px;
}
.video{
	padding: 230px 198px 176px 198px;
	background-color: #245852;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.video__content{
	margin: 0 60px 0 0;
}
.video__title{
	margin: 0 0 61px 0;
}
.video__title p{
	font: 700 50px 'Georgia';
	line-height: 78px;
	color: #fff; 		
}
.video__subtitle{
	margin: 0 0 57px 0;
}
.video__subtitle p{
	font: var(--fontLato);
	font-size: 25px;
	line-height: 40px;
	color: #fff;
}
.video__btn{
	padding: 20px 50px;
	background-color: var(--green);
	font: var(--fontLato);
	color: #fff;
	box-sizing: border-box;
	border-radius: 4px;
	transition: 0.2s;

}
.video__btn:hover{
	background-color: #01825d;
}
.video__play iframe{
	height: 516px;
	width: 896px; 
	border-radius: 17px;
}
.product{
	padding: 120px 275px 240px 335px;
	display: flex;
	align-items: center;
}
.product__image{
	background-color: rgba(1, 153, 109, 0.2);
	border-radius: 19px;
	margin: 0 86px 0 0;
	padding: 0 55px 0 55px;
	position: relative;
}
.product__content{
	align-self: flex-start;
}
.product__photo img{
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
}
.product__text{
	margin: 0 0 10px 0;
}
.product__text p{
	font: 600 25px 'Lato';
	line-height: 40px;
	color: #424242;
}
.product__title{
	margin: 0 0 20px 0;
	max-width: 585px;
}
.product__title p{
	font: 700 50px 'Georgia';
	color: var(--green);
	line-height: 79px;
}
.product__subtitle{
	margin: 0 0 40px 0;
	max-width: 430px;
}
.product__subtitle p{
	font: var(--fontLato);
	line-height: 32px;	
}
.product__btn{
	padding: 20px 50px;
    background-color: var(--green);
    font: var(--fontLato);
    color: #fff;
    box-sizing: border-box;
	border-radius: 4px;
	transition: 0.2s;
}
.product__btn:hover{
	background-color: #01825d;
}
.product__info{
	position: absolute;
	background: #FFFFFF;
	border-radius: 4px;
	text-align: center;
	bottom: -84px;
	left: -60px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding: 22px 45px 15px 45px;
}
.info-product__text{
	padding: 0 0 7px 0;
	border-bottom: 0.745px solid #000000;
	margin: 0 0 15px 0;
}
.info-product__text p{
	font: 600 15px 'Lato';
	line-height: 23px;
}
.info-product__img{
  border-radius: 50%;
  width: 55px;
  padding: 15px;
  height: 55px;
  background: rgba(1, 153, 109, 0.2) url('../img/product/women.png') no-repeat center;
  background-size: 100%;
  margin: 0 auto 10px auto;
}
.info-product__img img{
	max-width: 30%;
}
.info-product__name {
	margin: 0 0 10px 0;
}
.info-product__name p{
	font: 400 12px 'Lato';
	line-height: 19px;
}
.info-product__title{
	margin: 0 0 15px 0;
}
.info-product__title p{
	font: 700 15px 'Georgia';
}
.info-product__list{
	text-align: left;
}

.info-product__list li{
	font: 400 11px 'Lato';
	padding: 0 0 15px 0;
}
.footer{
	padding: 95px 200px 145px 200px;
	background-color: #245852;
	display: flex;
	flex-direction: column;
}
.footer__logo{
	padding: 0 0 60px 0;
}
.footer__logo{
	font: 900 40px 'Avenir';
	line-height: 55px;
	color: #fff;
}
.footer__navs{
	display: flex;
	flex-direction: column;
	max-width: 20%;
}
.footer__link {
	font: 400 25px 'Lato';
	line-height: 30px;
	color: #fff;
	padding: 0 0 60px 0;
	transition: 0.2s;
}
.footer__link:last-child{
	padding: 0 0 0 0;
}
.footer__link:hover{
	color: #737070;
}



/*
386*/