
@import url('fonts.css');
.layout{
	max-width: 1920px;
	margin: 0 auto;
}
.hidden{
	overflow: hidden;
}
.none{
	display: none;
}
.block{
	display: block;
}
:root {
  --green: #01996D;
  --fontLato: normal 20px 'Lato';
}
.header{
	padding: 30px 275px 31px 275px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #D6D6D6;
}
.header__navs{
	overflow-y: auto;
}
.header__logo{
	color: var(--green);
	font: 900 27px 'Avenir';
}
.header__nav-item{
	margin: 0 72px 0 0;
	transition: 0.2s;
}
.header__nav-item:last-child{
	margin: 0 0 0 0;
}
.header__nav-item:hover{
	color: #737070;
}
.header__nav-item, .auth__sign-btn, .auth__trial-btn{
	text-decoration: none;
	color: #292929;
	line-height: 24px;
	font: var(--fontLato);
}
.auth__sign-btn, .auth__trial-btn{
	font-weight: 400;
	margin: 0 35px 0 0;
}
.auth__trial-btn{
	padding: 13px 50px;
	background-color: var(--green);
	border: 1px solid var(--green);
	border-radius: 4px;
	box-sizing: border-box;
	color: #fff;
	font: var(--fontLato);
	text-align: center;
	transition: 0.2s;
	margin: 0 0 0 0;
}
.auth__trial-btn:hover{
	background-color: #01825d;
	color: #fff;
	transition: 0.2s;
}
.auth__sign-btn:hover{
	color: #737070;
}

.preview{
	background: url('../img/main/bg.png') no-repeat center;
	background-size: cover;
}
.preview__content{
	max-width: 41%;
	padding: 175px 60px 330px 275px;
}
.preview__title{
	margin: 0 0 30px 0;
	max-width: 440px;
}
.preview__title p{
	font: bold 65px 'Georgia';
	color: var(--green);
	line-height: 73px;
}
.preview__description{
	margin: 0 0 60px 0;
	max-width: 420px;
}
.preview__description p{
	font: var(--fontLato);
	line-height: 31px;
}
.preview__link{
	/*padding: 20px;*/
	background-color: var(--green);
	border: 1px solid var(--green);
	border-radius: 4px;
	box-sizing: border-box;
	color: #fff;
	font: normal 20px 'Lato';
	text-align: center;
	transition: 0.2s;
	line-height: 63px;
    display: block;
    max-width: 167px;
}
.preview__link:hover{
	background-color: #01825d;
}
.about{
	padding: 180px 275px 51px 275px;
}
.about__top{
	display: flex;
	justify-content: space-between;
	margin: 0 0 185px 0;
}
.about__wrapper{
	margin: 0 30px 0 0;
}
.about__text{
	font: 600 24px 'Lato';
}
.about__title{
	font: 700 50px 'Georgia';
	line-height: 79px;
	color: var(--green);
}
.about__description{
	max-width: 635px;
	padding: 43px 0 0 0;
}
.about__description p{
	font: var(--fontLato);
	line-height: 30px;
}
.about__row{
	display: flex;
	justify-content: space-between;
}
.about__column:nth-child(1){
	padding: 0 0 0 0;
	margin: 0 86px 0 0;
}
.about__column:nth-child(2){
	padding: 265px 0 0 0;
	margin: 0 86px 0 0;
}
.about__column:nth-child(3){
	padding: 39px 0 0 0;
}
.about__column{
	position: relative;
}
.item-about--first > .item-about__title:before{
	content:'01';
	display: block;
	font: 400 150px 'Georgia';
	color: rgba(1,153,109, 0.2);
	position: absolute;
	top: -110px;
	left: 23px;
}
.item-about--second > .item-about__title:before{
	content:'02';
	display: block;
	font: 400 150px 'Georgia';
	color: rgba(1,153,109, 0.2);
	position: absolute;
	top: 152px;
	left: -42px;
}
.item-about--last > .item-about__title:before{
	content:'03';
	display: block;
	font: 400 150px 'Georgia';
	color: rgba(1,153,109, 0.2);
	position: absolute;
	top: -70px;
	left: 30px;
}
.item-about__title{
	margin: 0 0 55px 0;
	font: 700 30px 'Georgia';
	line-height: 45px;
	text-align: center;
}
.item-about__subtitle{
	margin: 0 0 60px 0;
	max-width: 382px;
}
.item-about__subtitle p{
	font: var(--fontLato);
	line-height: 30px;
}
.item-about__image{
	position: relative;
	padding: 126% 0 0 0;
}
.item-about__image img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 16px;
}
.video{
	padding: 230px 198px 176px 198px;
	background-color: #245852;
	display: grid;
	grid-template-columns: 50% 50%;
}
.video__content{
	margin: 0 60px 0 0;
}
.video__title{
	margin: 0 0 61px 0;
	font: 700 50px 'Georgia';
	line-height: 78px;
	color: #fff; 
}
.video__subtitle{
	margin: 0 0 57px 0;
}
.video__subtitle p{
	font: var(--fontLato);
	font-size: 25px;
	line-height: 40px;
	color: #fff;
}
.video__btn{
	background-color: var(--green);
	font: var(--fontLato);
	color: #fff;
	box-sizing: border-box;
	border-radius: 4px;
	transition: 0.2s;
	line-height: 67px;
    display: block;
    max-width: 240px;
    text-align: center;
    height: auto;
}

}
.video__btn:hover{
	background-color: #01825d;
}
.video__play{
	position: relative;
	padding: 57% 0 0 0;
}
.video__play iframe{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 17px;
}
.product{
	padding: 120px 275px 240px 335px;
	display: grid;
	grid-template-columns: 50% 50%;
}
.product__image{
	background-color: rgba(1, 153, 109, 0.2);
	border-radius: 19px;
	margin: 0 86px 0 0;
	padding: 0 55px 0 55px;
	position: relative;
}
.product__photo{
	position: relative;
	padding-top: 133%;
}
.product__photo img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.product__text{
	margin: 0 0 10px 0;
}
.product__text p{
	font: 600 25px 'Lato';
	line-height: 40px;
	color: #424242;
}
.product__title{
	margin: 0 0 20px 0;
	max-width: 585px;
	font: 700 50px 'Georgia';
	color: var(--green);
	line-height: 79px;
}
.product__subtitle{
	margin: 0 0 40px 0;
	max-width: 430px;
}
.product__subtitle p{
	font: var(--fontLato);
	line-height: 32px;	
}
.product__btn{
    background-color: var(--green);
    font: var(--fontLato);
    color: #fff;
    box-sizing: border-box;
	border-radius: 4px;
	transition: 0.2s;
	line-height: 62px;
    display: block;
    max-width: 228px;
    height: auto;
    text-align: center;
}
.product__btn:hover{
	background-color: #01825d;
}
.product__info{
	position: absolute;
	background: #FFFFFF;
	border-radius: 4px;
	text-align: center;
	bottom: -84px;
	left: -60px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding: 22px 45px 15px 45px;
}
.info-product__text{
	padding: 0 0 7px 0;
	border-bottom: 0.745px solid #000000;
	margin: 0 0 15px 0;
}
.info-product__text p{
	font: 600 15px 'Lato';
	line-height: 23px;
}
.info-product__img{
  border-radius: 50%;
  width: 55px;
  padding: 15px;
  height: 55px;
  background: rgba(1, 153, 109, 0.2) url('../img/product/women.png') no-repeat center;
  background-size: 100%;
  margin: 0 auto 10px auto;
}
.info-product__img img{
	max-width: 30%;
}
.info-product__name {
	margin: 0 0 10px 0;
}
.info-product__name p{
	font: 400 12px 'Lato';
	line-height: 19px;
}
.info-product__title{
	margin: 0 0 15px 0;
}
.info-product__title p{
	font: 700 15px 'Georgia';
}
.info-product__list{
	text-align: left;
}

.info-product__list li{
	font: 400 11px 'Lato';
	padding: 0 0 15px 0;
	list-style: disc;
}
.footer{
	padding: 95px 275px 145px 275px;
	background-color: #245852;
	display: flex;
	flex-direction: column;
}
.footer__logo{
	padding: 0 0 60px 0;
}
.footer__logo{
	font: 900 40px 'Avenir';
	line-height: 55px;
	color: #fff;
}
.footer__navs{
	display: flex;
	flex-direction: column;
	max-width: 20%;
}
.footer__link {
	font: 400 25px 'Lato';
	line-height: 30px;
	color: #fff;
	padding: 0 0 60px 0;
	transition: 0.2s;
}
.footer__link:last-child{
	padding: 0 0 0 0;
}
.footer__link:hover{
	color: #737070;
}

.menu-link{
  z-index: 9;
  display: none;
  width: 50px;
  height: 50px;
  background-color:	#fff;
  border-radius: 50%;
  box-shadow: 1px 1px 10px rgba(154, 147, 140, 0.2);
  position: absolute;
  top:20px;
  left: 20px;
	
}
.menu-link span, .menu-link span:before, .menu-link span:after {
	display: block;
	height: 2px;
	width: 18px;
	position: absolute;
	left: 50%;
	margin-left: -9px;
	top: 50%;
	margin-top: -1px;
	background-color: #333;
}
.menu-link span:before{
	content: '';
	transition: all 0.2s;
	margin-top: -5px;
}
 .menu-link span:after{
 	content: '';
 	transition: all 0.2s;
	margin-top: 3px;
 }
 .menu__active{
 	left: 0;
 }
 .menu-link__active span{
 	background-color: transparent;
 }
.menu-link__active span:before{
	transform: rotate(135deg);
	margin-top: 0;
}
.menu-link__active span:after{
	transform: rotate(-135deg);
	margin-top: 0;
}
.modal__wrapper{
	background-color: rgba(0,0,0,0.4);
	width: 100%;
	height: 100%;
	z-index: 15;
	position: fixed;
	top: 0;
	left: -200vw;
	display: block;
}
.modal{
	z-index: 1;
	max-width: 680px;
	max-height: 360px;
	margin: 0 auto;
	margin-top: 10%;
	background-color: #fff;
	border-radius: 7px;
	border: 1px solid #dcdcdc;
	transition: all 0.5s;
	padding: 40px 50.6px 53px 88px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: -200vw;
	right: 0;
	margin: auto;
}
.modal__active{
	left:0;
}
.modal__show{
	transition: all 0.5s;
	left: 0;
}
.modal__title{
	margin: 0 0 30px 0;
}
.modal__title p{
	text-align: center;
	font: normal 30px 'Helvetica Neue Cyr Light';
}
.modal__body{
	display: flex;
}
.modal__form{
	margin: 0 39px 0 0;
	display: flex;
    flex-direction: column;
    align-items: center;
}
.modal__login, .modal__password{
	margin: 0 0 23px 0;
	
}
.modal__login input, .modal__password input{
	border-radius: 7.5px;
	border: 1.5px solid #b5b5b5;
	font-style: normal;
	font: normal 21px 'Helvetica Neue Cyr Light';
	transition: all 0.3s;
	line-height: 46px;
    padding: 0 0px 0 15px;
}

.modal__btn{
	padding: 18px 52px;
	background-color: var(--green);
	border-radius: 5px;
	color: #fff;
	font-style: normal;
	font: normal 18px 'Helvetica Neue Cyr Medium';
	text-transform: uppercase;
	transition: all 0.2s;
}
.modal__btn:hover{
	background-color: #01825d;
}
.modal__close{
	max-width: 50px;
	padding: 13px 15px 13px 15px;
	background-color: var(--green);
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 0 7px 0 7px;
	transition: all 0.2s;
	display: flex;
    justify-content: center;
    transition: all 0.2s;
    cursor: pointer;
}
.modal__close:hover{
	background-color: #01825d;
}
.modal__close img{
	width: 73%;
}
.modal__account{
	margin: 0 0 27px 0;
}
.modal__account a, .modal__reset a{
	color: #607bf3;
	font-style: normal;
	font: normal 18px 'Helvetica Neue Cyr Light';
}
.modal__account p, .modal__reset p{
	color: #828282;
	font-style: normal;
	font: normal 18px 'Helvetica Neue Cyr Light';
	margin: 0 0 10px 0;
}
input{
	transition: all 0.3s;
}
input[type = "text"]:focus,
input[type = "password"]:focus{
	border: 1px solid #575757;
}
input[type = "text"]:placeholder-shown:invalid, 
input[type = "password"]:placeholder-shown:invalid{
	border: 1.5px solid #b5b5b5;
	background-image: none;
}
input[type = "text"]:valid,
input[type = "password"]:valid{
	background: url('../img/icons/check-mark.svg') no-repeat 95%;
	background-size: 10%;
	border: 1px solid #01996D;
}
input[type = "text"]:invalid,
input[type = "password"]:invalid{
	background: url('../img/icons/warning-sign.svg') no-repeat 95%;
	background-size: 9%;
	border: 1px solid #ff0033;
}

.modal__promt-login, .modal__promt-password{
	color: #828282;
	font-style: normal;
	font: normal 18px 'Helvetica Neue Cyr Light';
	padding-top: 10px;
	display: none;
	transition: 0.5s;
}

.auth__sign-btn-mobile, .auth__trial-btn-mobile{
	display: none;
}